.ds-selector-hide {
    display: none !important;
    position: absolute !important;
    width: 0px !important;
    height: 0px !important;
    left: 0 !important;
    top: 0 !important;
}

.ds-selector-box {
    position: absolute;
    outline: 1px solid #91a5ff;
    background-color: #ccd5ff;
    opacity: 60%;
}
